@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = Resource.Base.Areas.Identity.Pages.Account.ForgotPasswordConfirmation.ForgotPasswordConfirm;
}

<h1>@Resource.Base.Areas.Identity.Pages.Account.ForgotPasswordConfirmation.ForgotPasswordConfirm</h1>
<p>
    @Resource.Base.Areas.Identity.Pages.Account.ForgotPasswordConfirmation.PleaseCheckEmail
</p>