@model WebApplication.Areas.Admin.Models.UserViewModel
@using Resource.Base.Areas.Admin.Pages

@{
    ViewData["Title"] = Users.Create;
}

<h1>@Users.Create</h1>

<h4>@Users.AppUser</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <partial name="_CreateEdit" model="Model"/>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Users.Back</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}