@using Resource.Base
@using Resources
@model BLL.App.DTO.CarType

@{
    ViewData["Title"] = Common.Delete;
}

<h1>@Common.Delete</h1>

<h3>@Common.DeleteConfirmation</h3>
<div>
    <h4>@Shared.CarType</h4>
    <hr />
    <partial name="_Details" model="Model"/>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">@Common.Back</a>
    </form>
</div>
