@model Domain.App.CarMark

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CarMark</h4>
    <hr />
    <partial name="_Details" model="Model"/>
</div>
<div>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
